.kembali a{
    color: #DA0C81;
    font-size: 0.85em;
    text-decoration: none;
    transition: color 0.4s;
}

a .geser{
    transition: transform 0.4s;
}

.kembali a:hover{
    color: rgba(218, 12, 129, 0.8);
}

.kembali a:hover .geser{
    transform: translateX(-5px);
}

.card-header{
    padding: 1.5em;
    background-color: #9DB2BF;
    border-radius: 1em;
}

.card-body{
    border-radius: 0 0 1em 1em;
}

.fotoprofile{
    display: flex;
    align-items: center;
}

.fotoprofile img{
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.grid-m{
    font-size: 0.85em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1em;
}

.grid{
    font-size: 0.85em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.grid-item label{
    padding-left: 0.5em;
}

.grid-item div{
    background-color: rgb(223, 220, 212);
    padding: 1em;
    height: 3.5em;
    border-radius: 0.65em;
}

.grid-item-m{
    margin-top: 0.75em;
    grid-area: 6 / 2 / 7 / 3;
}

.grid-item-nm{
    margin-top: 0.75em;
    grid-area: 4 / 2 / 5 / 3;
}
.grid-item-last a:first-child{
    width: 40%;
    text-align: center;
    background-color: #7c95a5;
    color: #F6F4EB;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.45em;
    transition: background-color 0.5s;
}

.grid-item-last a:nth-child(2){
    width: 55%;
    text-align: center;
    background-color: #e39f3f;
    color: #F6F4EB;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.45em;
    transition: background-color 0.5s;
}

.grid-item-last a:first-child:hover{
    background-color: #9DB2BF;
}

.grid-item-last a:nth-child(2):hover{
    background-color: #EEB76B;
}


